---

---

<nav class="flex justify-evenly bg-gray-800 text-white font-semibold p-2">
  <a
    href="/"
    class="hover:bg-gray-600 px-1 py-1 transition-all duration-75 rounded-md"
    >Home</a
  >
  <a
    href="/about"
    class="hover:bg-gray-600 px-1 py-1 transition-all duration-75 rounded-md"
    >About</a
  >
  <a
    href="/blog/"
    class="hover:bg-gray-600 px-1 py-1 transition-all duration-75 rounded-md"
    >Blog</a
  >
</nav>
